/* ################################# */
/*  BASE ELEMENT OVERRIDES           */
/* ################################# */

body {
    margin: 0px;
    background: url("/background.png") repeat top center fixed; 
    background-size: 30%;
    background-color: #0c0c0c;
}

/* ################################# */
/*  CUSTOM FONTS                     */
/* ################################# */

@font-face {
    font-family: "Royal Signage";
    src: url("/fonts/RoyalSignage-Rg.otf");
}

/* ################################# */
/*  CUSTOM PROPERTIES                */
/* ################################# */

:root {
    --color-primary-300: rgba(223, 71, 37, 0.2);
    --color-primary-500: rgba(223, 71, 37, 0.3);
    --color-primary-700: rgba(100, 30, 20);
    --color-primary-900: rgb(147, 35, 18);

    --color-accent-100: hsla(50, 100%, 80%, 0.5);
    --color-accent-200: hsla(50, 100%, 80%, 0.8);
    --color-accent-300: rgba(255, 235, 166);
    --color-accent-500: rgba(255, 248, 221);

    --color-neutral-300: rgba(12, 12, 12);
    --color-neutral-500: rgba(0, 0, 0, 0.6);
    --color-neutral-700: #0000004d;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
}