#navigation_bar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary-500t);
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

#navigation_container_left {
    padding: 6px 24px 6px 24px;
}

#navigation_container_right {
    display: flex;
    padding: 6px 24px 6px 24px;
    gap: 10px;
    align-items: center;
}

#navigation_button_home {
    color: var(--color-accent-300);
    font-size: clamp(1rem, 2vw, 1.75rem);
    font-family: "Royal Signage";
    text-transform: capitalize;
    border-radius: 0px;
}

#navigation_button_fb {
    color: var(--color-accent-300);
    border-radius: 4px;
}

#navigation_button_fb:hover {
    background-color: var(--color-primary-300);
}

#navigation_menu_item {
    background-color: red;
}

.navigation_button {
    color: var(--color-accent-300);
    font-weight: 300;
    font-size: 1rem;
}

.navigation_button:hover {
    background-color: var(--color-primary-500);
}

@media screen and (max-width: 800px) {
    #navigation_container_left {
        padding: 0px 0px 0px 20px;
    }
    #navigation_container_right {
        padding: 0px 10px 0px 20px;
        gap: 6px;
    }
    .navigation_button {
        font-size: 0.75rem;
    }
}